<template>
    <div>
        <ul class="m-2 pagination  d-flex justify-content-between" v-show="projects.last_page > 1">
            <li v-if="projects.current_page == 1 || projects.last_page <= 1" class="disabled">
                <a href="#" class="text-capitalize page-link">
                    Previous
                </a>
            </li>
            <li v-if="projects.current_page > 1 && projects.last_page > 1">
                <a href="#" class="text-capitalize page-link" @click="prevPage">
                    Previous
                </a>
            </li>

            <li v-if="projects.current_page == projects.last_page || projects.last_page <= 1" class="disabled">
                <a href="#" class="text-capitalize page-link">
                    Next
                </a>
            </li>
            <li v-if="projects.current_page < projects.last_page && projects.last_page > 1">
                <a href="#" class="text-capitalize page-link" @click="nextPage">
                    Next
                </a>
            </li>
        </ul>
        <table class="table m-4 table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center" @click="sort('projects.name')">Name</th>
                <th scope="col" class="text-center" @click="sort('properties.title')">Title</th>
                <th scope="col" class="text-center" @click="sort('properties.description')">Description</th>
                <th scope="col" class="text-center" @click="sort('properties.bedroom')">Bedroom</th>
                <th scope="col" class="text-center" @click="sort('properties.bathroom')">Bathroom</th>
                <th scope="col" class="text-center" @click="sort('property_types.type')">Property type</th>
                <th scope="col" class="text-center" @click="sort('properties.for_sale')">For sale</th>
                <th scope="col" class="text-center" @click="sort('properties.for_rent')">For rent</th>
                <th scope="col" class="text-center" @click="sort('countries.country')">Country</th>
                <th>
                    <input scope="col" @input="getProjects" class="text-center" type="search" v-model="search">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" v-for="project in projects.data">
                <td scope="row">{{ project.name }}</td>
                <td scope="row">{{ project.title }}</td>
                <td scope="row">{{ project.description }}</td>
                <td scope="row">{{ project.bedroom }}</td>
                <td scope="row">{{ project.bathroom }}</td>
                <td scope="row">{{ project.type }}</td>
                <td scope="row">{{ project.for_sale }}</td>
                <td scope="row">{{ project.for_rent }}</td>
                <td scope="row">{{ project.country }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                projects: [],
                currentOrder: 'properties.id',
                currentOrderBy: 'asc',
                perPage: 20,
                currentPage: 1,
                lastPage: 0,
                page: 1,
                search: '',
                items: [],
                previousPageUrl: null,
                nextPageUrl: null,
                rows: 0,
            }
        },
        methods: {
            getProjects() {
                var _this = this;
                var data = {
                    currentOrder: this.currentOrder,
                    currentOrderBy: this.currentOrderBy,
                    perPage: this.perPage,
                    page: this.page,
                    search: this.search,
                };
                axios.get(`/api/projects/`, {params: data})
                    .then(({data}) => {
                        _this.projects = data;
                        _this.rows = data.total;
                        _this.lastPage = data.last_page
                        _this.nextPageUrl = data.next_page_url
                        _this.previousPageUrl = data.prev_page_url
                    })
            },
            prevPage() {
                this.page = this.page - 1
                this.getProjects();
            },
            nextPage() {
                this.page = this.page + 1
                this.getProjects();
            },

            sort(sort) {
                this.currentOrder = sort;
                this.page = 1;
                if (this.currentOrderBy == 'asc') {
                    this.currentOrderBy = 'desc'
                } else {
                    this.currentOrderBy = 'asc'
                }
                this.getProjects()
            }
        },
        created() {
            this.getProjects()
        }
    }
</script>
